USE [master]
GO
/****** Object:  Database [Clinic2]    Script Date: 25-Jun-23 12:05:18 AM ******/
CREATE DATABASE [Clinic2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clinic2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Clinic2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clinic2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Clinic2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Clinic2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Clinic2]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 25-Jun-23 12:05:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Clinic_Brnach] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Record]    Script Date: 25-Jun-23 12:05:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Record](
	[Patient_ID] [int] IDENTITY(2000,1) NOT NULL,
	[Patient_Name] [varchar](50) NOT NULL,
	[Age] [varchar](50) NOT NULL,
	[Patient_Gender] [varchar](50) NOT NULL,
	[Weight] [varchar](50) NOT NULL,
	[Height] [varchar](50) NOT NULL,
	[Allergies] [varchar](50) NULL,
	[Dental_History] [varchar](50) NOT NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_Patient_Record] PRIMARY KEY CLUSTERED 
(
	[Patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 25-Jun-23 12:05:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[Pre_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tooth_Number] [int] NOT NULL,
	[Problem] [varchar](200) NULL,
	[Risk] [varchar](200) NULL,
	[Action] [varchar](200) NULL,
	[Surface] [varchar](200) NULL,
	[Pre_Date] [date] NULL,
	[Patient_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pre_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
