USE [master]
GO
/****** Object:  Database [ERadiology]    Script Date: 25-Jun-23 12:06:50 AM ******/
CREATE DATABASE [ERadiology]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ERadiology', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ERadiology.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ERadiology_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ERadiology_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERadiology].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERadiology]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 25-Jun-23 12:06:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UserName] [varchar](45) NOT NULL,
	[Password] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Rad]    Script Date: 25-Jun-23 12:06:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Rad](
	[Request_ID] [int] IDENTITY(1,1) NOT NULL,
	[Patient_ID] [int] NOT NULL,
	[Patient_Name] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Dentist_Name] [varchar](50) NOT NULL,
	[Modality] [varchar](50) NOT NULL,
	[Region] [varchar](50) NOT NULL,
	[status] [varchar](50) NULL,
	[Comments] [varchar](50) NULL,
	[image] [varchar](50) NULL,
	[Clinic_Branch] [varchar](50) NULL,
 CONSTRAINT [PK_Patient_Rad] PRIMARY KEY CLUSTERED 
(
	[Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
